@model FinalProject.Models.User
<div class="modal-header">
    <h5 class="modal-title" id="exampleModalCenterTitle">Login</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form method="post" action="/User/Login">

    <div class="modal-body">

        <div class="md-form  ">

            <label data-error="wrong" data-success="right" for="defaultForm-email">Old Password</label>
            <input type="text" id="txt_oldPassword" class="form-control validate ">


        </div>
        <div class="md-form  ">
            <label data-error="wrong" data-success="right" for="defaultForm-email">New Password</label>
            <input type="password" id="txt_newPassword" class="form-control validate  ">


        </div>
        <div class="md-form  ">
            <label data-error="wrong" data-success="right" for="defaultForm-email">Confirm Password</label>
            <input type="password" id="txt_ConfrimPassword" class="form-control validate  ">


        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

        <input id="Submit1" class="btn btn-default" type="button" onclick="Change();" value="Change" />
    </div>
</form>



